<div *ngIf="isSuccessful"  class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Employee has been Saved</strong> 
    <a [routerLink]="'/employee/list'">Go to Employee List</a>
 </div>

<h1 class="display-4">Add Employee</h1>
<hr/>

<form [formGroup]="addEmployeeForm" >
    <div class="row">
        <div class="col-4">
            <div class="mb-3">
                <label for="txtFName">First Name</label>
                <input id="txtFName" formControlName="employeeFirstName" class="form-control"/>
            </div>
        </div>
        <div class="col-4">
            <div class="mb-3">
                <label for="txtLName">Last Name</label>
                <input id="txtLName" formControlName="employeeLastName" class="form-control"/>
            </div>
        </div>
        <div class="col-4">
            <div class="mb-3">
                <label for="txtCity">City</label>
                <input id="txtCity" formControlName="employeeCity" class="form-control"/>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <div class="mb-3">
                <label for="txtTitle">Title</label>
                <input id="txtTitle" formControlName="employeeTitle" class="form-control"/>
            </div>
        </div>
    
        <div class="col-4">
            <div class="mb-3">
                <label for="txtCourtesy">Title Of Courtesy</label>
                <input id="txtCourtesy" formControlName="employeeTitleOfCourtesy" class="form-control"/>
            </div>    
        </div>
    
        <div class="col-4">
            <div class="mb-3">
                <label for="txtHiredate">Hire Date</label>
                <input type="date" id="txtHiredate" formControlName="employeeHireDate" class="form-control"/>
            </div>
        </div>
   </div>

   <div class="row">
        <div class="col-4">
            <div class="mb-3">
                <label for="txtbirthdate">Birth Date</label>
                <input type="date" id="txtBirthdate" formControlName="employeeBirthDate" class="form-control"/>
            </div>
        </div>

        <div class="col-4">
            <div class="mb-3">
                <label for="numReportsTo">Reports To</label>
                <input id="numReportsTo" formControlName="employeeReportsTo" class="form-control"/>
            </div>
        </div>

        <div class="col-4">
            <div class="mb-3">
                <label for="txtAddress">Address</label>
                <input id="txtAddress" formControlName="employeeAddress" class="form-control"/>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <div class="mb-3">
                <label for="txtCountry">Country</label>
                <input id="txtCountry" formControlName="employeeCountry" class="form-control"/>
            </div>
        </div>

        <div class="col-4">
            <div class="mb-3">
                <label for="numRegionId">Region ID</label>
                <input id="numRegionId" formControlName="employeeRegionId" class="form-control"/>
            </div>
        </div>

        <div class="col-4">
            <div class="mb-3">
                <label for="txtPhone">Phone</label>
                <input id="txtPhone" formControlName="employeePhone" class="form-control"/>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <div class="mb-3">
                <label for="numPostalCode">Postal Code</label>
                <input id="numPostalCode" formControlName="employeePostalCode" class="form-control"/>
            </div>
        </div>

        <div class="col-4">
            <div class="mb-3">
                <label for="txtPhotoPath">Photo Path</label>
                <input id="txtPhotoPath" formControlName="employeePhotoPath" class="form-control"/>
            </div>
        </div>
    </div>

   <input type="button" class="btn btn-primary" value="Save Employee" (click)="saveEmployee()" />
</form>