<form #addProduct="ngForm" (submit) ="insertProduct(addProduct)" >
    <div class="row">
        <div class="col-4">
            <div class="mb-3">
                <label for="txtName">Name</label>
                <input id="txtName" [(ngModel)]="product.name" name="name" class="form-control"/>
        </div>
        </div>
        <div class="col-4">
            <div class="mb-3">
                <label for="numVendor">Vendor</label>
                <input id="numVendor" [(ngModel)]="product.vendor" name="vendor" class="form-control"/>
            </div>
        </div>
        <div class="col-4">
            <div class="mb-3">
                <label for="numCategory">Category</label>
                <input id="numCategory" [(ngModel)]="product.category" name="category" class="form-control"/>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <div class="mb-3">
                <label for="numQuantityPerUnit">Quantity per Unit</label>
                <input id="numQuantityPerUnit" [(ngModel)]="product.quantityPerUnit" name="quantityPerUnit" class="form-control"/>
            </div>
        </div>
    
        <div class="col-4">
            <div class="mb-3">
                <label for="numUnitPrice">Unit Price</label>
                <input id="numUnitPrice" [(ngModel)]="product.unitPrice" name="unitPrice" class="form-control"/>
            </div>
         </div>
    
        <div class="col-4">
            <div class="mb-3">
                <label for="numUnitsInStock">Units In Stock</label>
                <input id="numUnitsInStock" [(ngModel)]="product.unitsInStock" name="unitsInStock" class="form-control"/>
            </div>
        </div>
   </div>

   <div class="row">
        <div class="col-4">
            <div class="mb-3">
                <label for="numUnitsOnOrder">Units On Order</label>
                <input id="numUnitsOnOrder" [(ngModel)]="product.unitsOnOrder" name="unitsOnOrder" class="form-control"/>
            </div>
        </div>

        <div class="col-4">
            <div class="mb-3">
                <label for="numReorderLevel">Reorder Level</label>
                <input id="numReorderLevel" [(ngModel)]="product.reorderLevel" name="reorderLevel" class="form-control"/>
            </div>
        </div>

        <div class="col-4">
            <div class="mb-3">
                <label for="boolDiscontinued">Discontinued?</label>
                <input id="boolDiscontinued" [(ngModel)]="product.discontinued" name="discontinued" class="form-control"/>
            </div>
        </div>
    </div>

    <input type="submit" value="Add Product" class="btn btn-primary"/>
    <input type="button" value="Cancel" class="btn btn-default" (click)="resetPage(addProduct)"/>
</form>