<div *ngIf="isSuccessful"  class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Product has been Saved</strong> 
    <a [routerLink]="'/product/list'">Go to Product List</a>
 </div>

<h1 class="display-4">Add Product</h1>
<hr/>


<form [formGroup]="addProductForm" >
    <div class="row">
        <div class="col-4">
            <div class="mb-3">
                <label for="txtName">Name</label>
                <input id="txtName" formControlName="productName" class="form-control"/>
        </div>
        </div>
        <div class="col-4">
            <div class="mb-3">
                <label for="numVendor">Vendor</label>
                <input id="numVendor" formControlName="productVendorId" class="form-control"/>
            </div>
        </div>
        <div class="col-4">
            <div class="mb-3">
                <label for="numCategory">Category</label>
                <input id="numCategory" formControlName="productCategoryId" class="form-control"/>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <div class="mb-3">
                <label for="numQuantityPerUnit">Quantity per Unit</label>
                <input id="numQuantityPerUnit" formControlName="productQuantityPerUnit" class="form-control"/>
            </div>
        </div>
    
        <div class="col-4">
            <div class="mb-3">
                <label for="numUnitPrice">Unit Price</label>
                <input id="numUnitPrice" formControlName="productUnitPrice" class="form-control"/>
            </div>
         </div>
    
        <div class="col-4">
            <div class="mb-3">
                <label for="numUnitsInStock">Units In Stock</label>
                <input id="numUnitsInStock" formControlName="productUnitsInStock" class="form-control"/>
            </div>
        </div>
   </div>

   <div class="row">
        <div class="col-4">
            <div class="mb-3">
                <label for="numUnitsOnOrder">Units On Order</label>
                <input id="numUnitsOnOrder" formControlName="productUnitsOnOrder" class="form-control"/>
            </div>
        </div>

        <div class="col-4">
            <div class="mb-3">
                <label for="numReorderLevel">Reorder Level</label>
                <input id="numReorderLevel" formControlName="productReorderLevel" class="form-control"/>
            </div>
        </div>

        <div class="col-4">
            <div class="mb-3">
                <label for="boolDiscontinued">Discontinued?</label>
                <select id="boolDiscontinued" formControlName="productDiscontinued" class="form-control">
                    <option value="1">True</option>
                    <option value="0">False</option>
                </select>
            </div>
        </div>
    </div>

    <input type="button" class="btn btn-primary" value="Save Product" (click)="saveProduct()" />
</form>