<div *ngIf="isSuccessful"  class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Region has been Saved</strong> 
    <a [routerLink]="'/region/list'">Go to Region List</a>
 </div>

<h1 class="display-4">Add Region</h1>
<hr/>

<form [formGroup]="addRegionForm" >
    <div class="row">
        <div class="col-4">
            <div class="mb-3">
                <label for="txtName">Name</label>
                <input id="txtName" formControlName="regionName" class="form-control"/>
            </div>
        </div>
    </div>

    <input type="button" class="btn btn-primary" value="Save Region" (click)="saveRegion()" />
</form>