<div *ngIf="isSuccessful"  class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Customer has been Saved</strong> 
    <a [routerLink]="'/customer/list'">Go to Customer List</a>
 </div>

<h1 class="display-4">Add Customer</h1>
<hr/>

<form [formGroup]="addCustomerForm" >
    <div class="row">
        <div class="col-4">
            <div class="mb-3">
                <label for="txtName">Name</label>
                <input id="txtName" formControlName="customerName" class="form-control"/>
        </div>
        </div>
        <div class="col-4">
            <div class="mb-3">
                <label for="txtTitle">Title</label>
                <input id="txtTitle" formControlName="customerTitle" class="form-control"/>
            </div>
        </div>
        <div class="col-4">
            <div class="mb-3">
                <label for="txtCity">City</label>
                <input id="txtCity" formControlName="customerCity" class="form-control"/>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <div class="mb-3">
                <label for="txtAddress">Address</label>
                <input id="txtAddress" formControlName="customerAddress" class="form-control"/>
            </div>
        </div>
    
        <div class="col-4">
            <div class="mb-3">
                <label for="numRegion">Region</label>
                <input id="numRegion" formControlName="customerRegion" class="form-control"/>
            </div>
         </div>
    
        <div class="col-4">
            <div class="mb-3">
                <label for="numPostalCode">Postal Code</label>
                <input id="numPostalCode" formControlName="customerPostalCode" class="form-control"/>
            </div>
        </div>
   </div>

   <div class="row">
        <div class="col-4">
            <div class="mb-3">
                <label for="txtCountry">Country</label>
                <input id="txtCountry" formControlName="customerCountry" class="form-control"/>
            </div>
        </div>

        <div class="col-4">
            <div class="mb-3">
                <label for="txtPhone">Phone</label>
                <input id="txtPhone" formControlName="customerPhone" class="form-control"/>
            </div>
        </div>
    </div>

    <input type="button" class="btn btn-primary" value="Save Customer" (click)="saveCustomer()" />
</form>